@{
  Layout="Shared/_Layout.cshtml";
}


<h1>@Model.GetName()</h1>

<h3><span class="name">Desired hair style/ usual request:</span> @Model.GetHairStyle()</h3>
<h3><span class="name">Stylist:</span> @Model.StylistName()</h3>

<h5><a href="/">Go home</a></h5>
