@{
  Layout="Shared/_Layout.cshtml";
}


<h1>@Model.GetName()</h1>

<h3>Desired hair style/ usual request: @Model.GetHairStyle()</h3>
<h3>Stylist: @Model.StylistName()</h3>

<h5><a href="/">Go home</a></h5>
