@{
  Layout="Shared/_Layout.cshtml";
}

<h1 class="title">Welcome to our hair salon!</h1>
<h5 class="main-links"><a href="/stylists">View Stylists</a></h5>
<h5 class="main-links"><a href="/clients">View Clients</a></h5>
